<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Show Task</title>

      <link rel="stylesheet" href="../public/styles.css">
      <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
        crossorigin="anonymous"
      />
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"
      ></script>
    </head>
  </head>
  <body>
    <!-- <nav class="nav">
      <a href="/"><i class="bi bi-house-fill" style="font-size: 3em"></i></a>
    </nav> -->
    <div class="container">
      <br />
      <h1 class=>Edit Task</h1>

      <div id="form">
        <form class="col-3" action="/<%=editTask._id%>?_method=PUT" method="POST">
            
            <div class="form-group">
                <label for="name">Name:</label> 
                <input type="text" class="form-control" name="name"  value="<%=editTask.name%>" /> 
            </div>


                <div class="form-group">
                    <label for="date">Date:</label>
                    <input type="date" class="form-control" name="date" value="<%=editTask.date%>" /> 
                </div>


                <div class="form-group">
                    <label for="prio">Priority:</label>
                    <input type="text" class="form-control" name="prio" value="<%=editTask.prio%>" /> 
                </div>
                

                <div class="form-group">
                    <label for="task">Task:</label>
                    <input type="text" class="form-control" name="task" value="<%=editTask.task%>" />
                </div>
                
          
            <br />
            <input class="btn btn-outline-warning" type="submit" value="Edit Task" />
            <a class="btn btn-outline-success" href="/">View All</a>

          </form>
        </div>
     

    </div>
  </body>
</html>


<form class="row row-cols-lg-auto g-3">
	<div class="col">
		<label class="visually-hidden" for="inline-form-name">Name</label> <input
			type="text" class="form-control" id="inline-form-name"
			placeholder="Name">
	</div>

	<div class="col">
		<label class="visually-hidden" for="inline-form-email">Email</label>
		<input type="text" class="form-control" id="inline-form-email"
			placeholder="Email">
	</div>


	<div class="col">
		<label class="visually-hidden" for="inline-form-website">website</label>
		<input type="text" class="form-control" id="inline-form-website"
			placeholder="Website">
	</div>

	<div class="col">
		<button type="submit" class="btn btn-primary">Submit Form</button>
	</div>
</form>
