<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <div class="container-fluid">
      <br />
      <h1 class="text-center" >Task Manager</h1>
      <br />
      <a class="btn btn-outline-success" style="margin-left: 1.5%;" href="/new">Create Task</a> <br />
      <br />
      <div class="table-responsive col-12 ">
        <table id="myTable" class="table table-striped" >
          <tr class="table-success">
            <th onclick="sortTable(0)">Title</th>
            <th onclick="sortTable(1)">Date</th>
            <th onclick="sortTable(2)">Priority</th>
            <th onclick="sortTable(3)">Task</th>
            <th onclick="sortTable(4)">Edit</th>
            <th onclick="sortTable(5)">Delete</th>
          </tr>
  
          <% for (let i=0; i <task.length; i++){ %>
              <tr >
                <!-- <td class="list-group-item">  -->
                  <td><a type="button" class="btn btn-outline-info" href="./<%=task[i].id%>"><%=task[i].title%></a> <br></td>
                   <td><%=task[i].date%></td>
                   <td><%=task[i].prio%></td>
                   <td><%=task[i].task%></td>
                   <td>
                    <form><a class="btn btn-outline-warning" href="./<%=task[i].id%>/edit">Edit</a></form>
                  </td>
                  <td>
                  <form action="/<%=task[i].id%>?_method=DELETE" method="POST">
                    <input class="delete btn btn-outline-danger" style="transition: 0.5s ease"  type="submit" value="DELETE" />
                  </form>
                  </td>
                <!-- </td> -->
           
              </tr>
                <% } %>

      </div>
      

        <script>
          function sortTable(n) {
            var table,
              rows,
              switching,
              i,
              x,
              y,
              shouldSwitch,
              dir,
              switchcount = 0
            table = document.getElementById('myTable')
            switching = true
            dir = 'asc'
            while (switching) {
              switching = false
              rows = table.rows
              for (i = 1; i < rows.length - 1; i++) {
                shouldSwitch = false
                x = rows[i].getElementsByTagName('TD')[n]
                y = rows[i + 1].getElementsByTagName('TD')[n]
                if (dir == 'asc') {
                  if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                    shouldSwitch = true
                    break
                  }
                } else if (dir == 'desc') {
                  if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                    shouldSwitch = true
                    break
                  }
                }
              }
              if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i])
                switching = true
              } else {
                if (switchcount == 0 && dir == 'asc') {
                  dir = 'desc'
                  switching = true
                }
              }
            }
          }
        </script>
      </table>
    </div>
  </body>
</html>


