<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <div class="container">
      <br />
      <h1>Selected Task</h1>
      <div class="card col-lg-6 col md-8 col-sm-8 col-xs-1">
        <div class="card-header"><b>Task:</b> <%=task.title%></div>
        <ul class="list-group">
          <li class="list-group-item"><b>Date:</b> <%=task.date%></li>
          <li class="list-group-item"><b>Priority:</b> <%=task.prio%></li>
          <li class="list-group-item"><b>Details:</b> <%=task.task%></li>
        </ul>
      </div>
      <br />
      <a class="btn btn-outline-warning" href="./<%=task.id%>/edit">Edit Task</a>
      <a class="btn btn-outline-success" href="/new">Create Task</a>
      <a class="btn btn-outline-info" href="/">View All</a>
    </div>
  </body>
</html>
