<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <!-- HEADER+NAV -->
      <div class="header-container">
        <p>LETTER<span>box</span>CLONE</p>
        <nav>
          <a href="#">Watched Movies</a>
          <a href="#">Your Watchlist</a>
        </nav>
      </div>
      <!-- SEARCH BOX -->
      <div class="search-container">
        <div class="search-movie">
          <h1>Search Movies:</h1>
          <input type="text" class="search-form" placeholder="Search Movies..." />
        </div>
      </div>
      <!-- WATCHED MOVIES  -->
      <div class="watched-container">
        <h3>Watched Movies</h3>
        <ul>
          <% for (let i = 0; i < movies.length; i++) { %>
          <li>
            <a href="<%= movies[i]._id %>"><%= movies[i].name %></a>
            <img src="<%= movies[i].img %>" />
            <a href="/<%= movies[i]._id %>/edit ">EDIT</a>
          </li>
          <% } %>
        </ul>
      </div>
      <!-- WATCHLATER  -->
      <div class="watchlater-container">
        <h3>Watch-later</h3>
        <ul>
          <% for (let i = 0; i < movies.length; i++) { %>
          <li>
            <a href="<%= movies[i]._id %>"><%= movies[i].name %></a>
            <img src="<%= movies[i].img %>" />
            <a href="/<%= movies[i]._id %>/edit ">EDIT</a>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </body>
</html>
